<div class=post-form>
  <%= form_for(@post) do |f| %>
    <% if @user == current_user %>
      <%= hidden_field_tag :receiver_id, current_user.id %>      
      <%= f.text_area :content, class: "form-control", placeholder: "What's on your mind?" %> 
    <% else %>
      <%= hidden_field_tag :receiver_id, params[:id] %>
      <%= f.text_area :content, class: "form-control", placeholder: "Write something..." %>
    <% end %>
      <%= f.submit "Post", class: 'btn btn-default' %> 
  <% end %>
</div>