<div>
	<div>
		<div class="col-sm-2 info-header">
			Gender
		</div>
		<div class="col-sm-10">
			<%= @user.gender.capitalize %>
		</div>
	</div>

	<div>
		<div class="col-sm-2 info-header">
			Birthday
		</div>
		<div class="col-sm-10">
			<%= @profile.birthday.nil? ? "No birthday provided." : @profile.birthday.strftime("%B %e, %Y") %>
		</div>
	</div>

	<div>
		<div class="col-sm-2 info-header">
			Country
		</div>
		<div class="col-sm-10">
			<%= @profile.country.nil? ? "No country provided." : @profile.country_name %>
		</div>
	</div>

	<div>
		<div class="col-sm-2 info-header">
			Education
		</div>
		<div class="col-sm-10">
			<%= @profile.education.nil? ? "None specified." : @profile.education %>
		</div>
	</div>

	<div>
		<div class="col-sm-2 info-header">
			Profession
		</div>
		<div class="col-sm-10">
			<%= @profile.profession.nil? ? "None specified." : @profile.profession %>
		</div>
	</div>

	<div>
		<div class="col-sm-2 info-header">
			About
		</div>
		<div class="col-sm-10">
			<%= @profile.about.nil? ? "None specified." : @profile.about %>
		</div>
	</div>	

	<div>
		<div class="col-sm-2 info-header">
			Access
		</div>
		<div class="col-sm-10">
			<%= @profile.access %>
		</div>
	</div>

	<div>
		<div class="col-sm-2 info-header">
			Email Notifications
		</div>
		<div class="col-sm-10">
			<%= @profile.email_notification ? "Yes" : "No" %>
		</div>
	</div>

	<% if @user == current_user %>
		<div>
			<div class="col-sm-12">
				<%= link_to "Edit Your Profile", edit_profile_path(@user) %>
			</div>			
		</div>
	<% end %>		
</div>