<!DOCTYPE html>
<html>
<head>
  <title>OdinFacebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if signed_in? %>
	<div class="container">
		<div class="row"> 
			<aside class="col-md-2">
				<section>
					<%= render "users/shared/sidebar" %>
				</section>
			</aside>
			<div class="col-md-8">
				<%= yield %>
			</div>
		</div>
	</div>	
<% else %>
	<%= yield %>
<% end %>

<div><%= request.env["omniauth.auth"].nil? %></div>

<table>
<th>key</th>
<th>Value</th>
<% for item in request.env %>
<tr>
<td><%= item[0] %></td>
<td><%= item[1] %></td>
</tr>
<% end %>
</table>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
